<div class="ui middle aligned center aligned grid auth">
  <div class="column">
    <h2 class="ui header teal">アカウント確認のメールを再送信する</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "ui form" }) do |f| %>
    <div class="ui stacked segment">
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "送信", class: "fluid ui button" %>
      </div>
    </div>
    <% end %>
    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

