<div class="ui container">
    <%= form_with model: @group, local: true, html: {class: "ui form"} do |f| %>
        <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>

        <div class="field">
            <%= f.label :introduction %>
            <%= f.text_area :introduction %>
        </div>

        <%= f.submit "グループ作成", class: "ui button" %>
    <% end %>
</div>